.circles-slider.ui-slider {
  border-radius: 20px;
  background: #0DB14B;
  border: none;
  height: 4px;
  margin: 2em 2em 0 2em; }
                    
.circles-slider .ui-slider-handle {
  background: #0DB14B;
  border-radius: 50% 50% 0;
  height: 23px;
  width: 23px;
  top: -33px;
  margin-left: -11px;
  border: 2px solid #fffaf7; 
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  margin-left: -14px;
}

  .circles-slider.ui-slider .ui-slider-handle.ui-state-default{
    border: 1px solid rgba(0,0,0,0);
  }
  
  .circles-slider.ui-slider .ui-slider-handle.ui-state-hover, 
  .circles-slider.ui-slider .ui-slider-handle.ui-state-focus, 
  .circles-slider.ui-slider .ui-slider-handle.ui-state-active {
    border: 1px solid #172f38; }
                    
.circles-slider .ui-slider-pip {
  top: 0px; }

  .circles-slider .ui-slider-pip{
    color: #000;
    font-weight: normal;
  }
                    
  .circles-slider .ui-slider-pip .ui-slider-line,
  .circles-slider .ui-slider-pip.ui-slider-pip-last .ui-slider-line,
  .circles-slider .ui-slider-pip.ui-slider-pip-first .ui-slider-line {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    margin-left: -2px;
    background: #000; }
                    
  .circles-slider .ui-slider-pip.ui-slider-pip-last,
  .circles-slider .ui-slider-pip.ui-slider-pip-first {
     }
                    
    .circles-slider .ui-slider-pip.ui-slider-pip-last .ui-slider-line,
    .circles-slider .ui-slider-pip.ui-slider-pip-first .ui-slider-line {
      /*display: none;*/ }
                    
    .circles-slider .ui-slider-pip.ui-slider-pip-last .ui-slider-label,
    .circles-slider .ui-slider-pip.ui-slider-pip-first .ui-slider-label {
      margin: 0;
      top: -27px; 
      height: 40px;}
                    
  .circles-slider .ui-slider-pip.ui-slider-pip-first .ui-slider-label {
    left: -10px;
    text-align: right; }
                    
  .circles-slider .ui-slider-pip.ui-slider-pip-last .ui-slider-label {
    left: 4px;
    text-align: left; }
                    
  .circles-slider .ui-slider-pip.ui-slider-pip-selected-initial {
    font-weight: normal; }
                    
  .circles-slider .ui-slider-pip.ui-slider-pip-selected {
    font-weight: bold; }
                    
  .circles-slider .ui-slider-pip.ui-slider-pip-selected,
  .circles-slider .ui-slider-pip.ui-slider-pip-selected-initial {
    color: #434d5a; }

    .circles-slider .ui-slider-pip .ui-slider-line{
      z-index: 10;
    }

  .circles-slider.ui-slider.ui-slider-horizontal .ui-slider-handle .ui-slider-tip,
  .circles-slider.ui-slider.ui-slider-horizontal .ui-slider-handle[class*=ui-state-] .ui-slider-tip {
    visibility: visible;
    opacity: 1;
    border: none;
    background: transparent;
    left: 55%;
    font-size: 0.8em;
    font-weight: normal;
    text-align: center;
    top: 8%;
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg); }

  .circles-slider.ui-slider.ui-slider-horizontal .ui-slider-handle .ui-slider-tip:before,
  .circles-slider.ui-slider.ui-slider-horizontal .ui-slider-handle[class*=ui-state-] .ui-slider-tip:before {
    display: none; }

  .circles-slider.ui-slider.ui-slider-horizontal .ui-slider-handle .ui-slider-tip:after,
  .circles-slider.ui-slider.ui-slider-horizontal .ui-slider-handle[class*=ui-state-] .ui-slider-tip:after {
    display: none; }

  .circles-slider.ui-slider .ui-slider-range{
    background: #ababab;
    z-index: 5;
  }