.dialog,
.dialog__overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.dialog {
	position: fixed;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	pointer-events: none;
}

.dialog__overlay {
	position: absolute;
	background: rgba(55, 58, 71, 0.9);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
	z-index: 1000;
}

.dialog--open .dialog__overlay {
	opacity: 1;
	pointer-events: auto;
	z-index: 1000;
}

.dialog__content {
	background: #fff;
	text-align: center;
	position: relative;
	opacity: 0;
	z-index: 1000;
}

.dialog--open .dialog__content {
	pointer-events: auto;
	z-index: 1000;
}

/* Content */
.dialog h2 {
	color: #0DB14B;
	margin: 120px 0 0 0;
	font-family: Vernada, Tahoma, sans-serif;
	font-weight: bold;
	font-size: 25px;
	letter-spacing: 1px;
}