﻿<!DOCTYPE html>
<html>
<head>
  <title>Обслуживание компьютеров и оргтехники для организаций в Тамбове – IT-Аутсорсинг</title>
  <meta name="description" content="Абонентское обслуживание компьютеров и оргтехники для организаций. Настройка сетей и телефонии. Гибкие тарифы. Тел: +7(4752)341-341">

  <link rel="stylesheet" type="text/css" href="style.css">
  <!-- jQuery UI theme-->
  <link href="css/ui-lightness/jquery-ui-1.9.2.custom.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/jquery-ui-slider-pips.css">
  <!--Circle slider styling-->
  <link rel="stylesheet" type="text/css" href="css/circles-slider.css">
  <!--iCheck (http://fronteed.com/iCheck/)-->
  <!-- <link href="css/icheck/minimal.css" rel="stylesheet"> -->
  <!-- jquery-toastmessage-plugin (http://akquinet.github.io/jquery-toastmessage-plugin/) -->
  <link rel="stylesheet" type="text/css" href="css/jquery.toastmessage.css">
  <!-- DialogEffects (https://github.com/codrops/DialogEffects) -->
  <link rel="stylesheet" type="text/css" href="css/dialog.css" /><!-- common styles -->
  <link rel="stylesheet" type="text/css" href="css/dialog-ricky.css" /><!-- individual effect -->
  

  <!-- include the jQuery and jQuery UI scripts -->
  <script src="js/jquery-1.8.3.js"></script>
  <script src="js/jquery-ui-1.9.2.custom.js"></script>
  <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <!--SVGIjector (https://github.com/iconic/SVGInjector)-->
  <script src="js/svg-injector.min.js"></script>  
  <!--Slider Pips (http://simeydotme.github.io/jQuery-ui-Slider-Pips)/-->
  <script type="text/javascript" src="js/jquery-ui-slider-pips.js"></script>
  <!--iCheck (http://fronteed.com/iCheck/)-->
  <script src="js/icheck.js"></script>
  <!-- jquery-toastmessage-plugin (http://akquinet.github.io/jquery-toastmessage-plugin/) -->
  <script src="js/jquery.toastmessage.js"></script>
  <!-- jQuery-Placeholder (http://xiper.net/collect/js-plugins/html5-and-css3/jquery-placeholder) -->
  <script src="js/jquery.placeholder.js"></script>
  <!-- sprintf.js (https://github.com/alexei/sprintf.js) -->
  <script src="js/sprintf.js"></script>
  <!-- DialogEffects (https://github.com/codrops/DialogEffects) -->
  <script src="js/modernizr.custom.js"></script>
  <script src="js/classie.js"></script>
  <script src="js/dialogFx.js"></script>

  <!--Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script src="app/main.controller.js"></script>
  <script src="app/mailer.factory.js"></script>
  <script src="app/slider.directive.js"></script>

  <script src="js/mask.js"></script>

  <!-- Google Analytics -->
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-67313615-1', 'auto');
   ga('send', 'pageview');
  </script>

</head>
<body ng-app="ItTambov" ng-controller="MainController">
  <div class="title-wrapper">
    <div class="title-main">
      <div class="info-box info-box-title">
        <img src="images/logo.png" class="logo" alt="">
        <p class="h2-like our-phone">+7 [4752] 341-341<br>+7 [960] 670-0607</p>
        <h1>Обслуживание компьютеров и оргтехники для организаций в Тамбове</h1>
        <p class="call-text">Присоединяйтесь к нам уже сегодня:</p>
        <div class="phone-form1">
          <form name="formMinInfo" novalidate>
            <p>Заказать консультацию</p>
            <input type="text" class="btn-color1 left" placeholder="Ваш телефон" ng-model="newOrderData.phone" ui-mask="{{phoneMask}}" ui-mask-placeholder name="phone-number" id="phone-number" required>
            <input type="submit" class="btn-color1 right" value="ЗАКАЗАТЬ" ng-click="orderMinInfo()" ng-disabled="formMinInfo.$invalid" onclick="yaCounter32084221.reachGoal('zayavka1'); return true;">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="desc-wrapper">
    <div class="desc-main">
      <div class="info-box info-box-desc">
        <h2>Мы осуществляем успешную деятельность IT-аутсорсинга для B2B-клиентов</h2>
        <p>Успех Вашей компании напрямую зависит от стабильной работы компьютеров и офисной техники, которая достигается только при регулярном и качественном проведении работ!</p>
        <p>Мы рады предложить Вам самое лучшее в мире IT-решение. При заключении договора на сотрудничество с нашей компанией Вы застрахуете свой бизнес от подрывов со стороны своей IT-инфраструктур.</p>
        <div class="phone-form1">
          <form name="formMinInfo" novalidate>
            <p>Заказать консультацию</p>
            <input type="text" class="btn-color1 left" placeholder="Ваш телефон" ng-model="newOrderData.phone" ui-mask="{{phoneMask}}" ui-mask-placeholder name="phone-number" id="phone-number" required>
            <input type="submit" class="btn-color1 right" value="ЗАКАЗАТЬ" ng-click="orderMinInfo()" ng-disabled="formMinInfo.$invalid" onclick="yaCounter32084221.reachGoal('zayavka2'); return true;">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="solutions-wrapper"> 
    <div class="solutions-main">
      <p class="h2-like">Решения</p>
      <div class="solutions-info-blocks">
        <div>
          <p><img src="images/solv-comp.png">
          <br>Обслуживание<br> компьютеров</p>
        </div>
        <div>
          <p><img src="images/solv-org.png">
          <br>Обслуживание<br> оргтехники</p>
        </div>
        <div>        
          <p><img src="images/solv-net.png">
          <br>Обслуживание<br> компьютерной сети и<br> периферийных устройств.</p>
          <p class="small-text">За счет перекладывания непрофильной<br> деятельности для компании на<br> другую ответственную организацию.</p>
        </div>
      </div>
        <div class="phone-form1">
          <form name="formMinInfo" novalidate>
            <p>Заказать консультацию</p>
            <input type="text" class="btn-color1 left" placeholder="Ваш телефон" ng-model="newOrderData.phone" ui-mask="{{phoneMask}}" ui-mask-placeholder name="phone-number" id="phone-number" required>
            <input type="submit" class="btn-color1 right" value="ЗАКАЗАТЬ" ng-click="orderMinInfo()" ng-disabled="formMinInfo.$invalid" onclick="yaCounter32084221.reachGoal('zayavka3'); return true;">
          </form>
        </div>
    </div>
  </div>
  
  <a name="preimushestva" class="anchor"></a>
  <div class="benefits-wrapper">
    <div class="benefits-main">
      <p class="h2-like">Преимущества</p>
      <div class="benefits-info-blocks">
        <div>
          <p><img src="images/benef-prof.png">
          <br>Срочный вызов<br> IT специалиста<br> по экстремнному вызову</p>
        </div>
        <div>
          <p><img src="images/benef-providers.png">
          <br>Взаимодействие с<br> поставщиками услуг связи<br> (интернет, телефония,<br> хостинг и т.д.)</p>
        </div>
        <div>
          <p><img src="images/benef-consult.png">
          <br>Бесплатные пробные<br> телефонные консультации</p>
        </div>
        <div>
          <p><img src="images/benef-deliv.png">
          <br>Бесплатная доставка<br> малогабаритных<br> комплектующих</p>
        </div>
      </div>
        <div class="phone-form2">
          <form name="formMinInfo" novalidate>
            <p>Заказать консультацию</p>
            <input type="text" class="btn-color2 left placeholder2" placeholder="Ваш телефон" ng-model="newOrderData.phone" ui-mask="{{phoneMask}}" ui-mask-placeholder name="phone-number" id="phone-number" required>
            <input type="submit" class="btn-color2 right" value="ЗАКАЗАТЬ" ng-click="orderMinInfo()" ng-disabled="formMinInfo.$invalid" onclick="yaCounter32084221.reachGoal('zayavka4'); return true;">
          </form>
        </div>
    </div>
  </div>

  <div class="tariffs-desc-wrapper">
    <div class="tariffs-desc-main">
      <div class="info-box info-box-tariffs">
        <p class="h2-like">Тарифы</p>
        <p>Мы готовы предложить максимально выгодные условия сотрудничества для любого клиента в рамках договора на компьютерное обслуживание. У наших клиентов есть возможность выбрать схему сотрудничества как в виде разовых выездов для устранения проблем и их профилактики, так и в виде постоянного IT-аутсорсинга по договору.</p>
        <div class="phone-form1">
          <form name="formMinInfo" novalidate>
            <p>Заказать консультацию</p>
            <input type="text" class="btn-color1 left" placeholder="Ваш телефон" ng-model="newOrderData.phone" ui-mask="{{phoneMask}}" ui-mask-placeholder name="phone-number" id="phone-number" required>
            <input type="submit" class="btn-color1 right" value="ЗАКАЗАТЬ" ng-click="orderMinInfo()" ng-disabled="formMinInfo.$invalid" onclick="yaCounter32084221.reachGoal('zayavka5'); return true;">
          </form>
        </div>
      </div>
    </div>
  </div>

  <a name="kalculator" class="anchor"></a>
  <div class="tariffs-tabs-wrapper">
    <div class="tariffs-tabs-main">
      <div id="tabs">
        <ul>
          <li ng-click="setBaseTariff()"><a href="#tabs-1" ng-click="currentTariff = baseTariffPrice">Начальный</a></li>
          <li ng-click="setStandardTariff()"><a href="#tabs-2" ng-click="currentTariff = standardTariffPrice">Стандартный</a></li>
        </ul>

        <div id="tabs-1" class="tariffs-tab">
          <ul class="tariffs-const-block">
            <li>1 визит в месяц IT специалиста</li>
            <li>1 экстренный визит в месяц IT специалиста</li>
            <li>Удаленное администрирование компьютера</li>
            <li>Телефонная помощь (8:00 - 23:00)</li>
            <li>Поддержка по электронной почте (24/7)</li>
          </ul>
        </div>

        <div id="tabs-2" class="tariffs-tab">
          <ul class="tariffs-const-block">
            <li>2 визита в месяц IT специалиста</li>
            <li>2 экстренных визита в месяц IT специалиста</li>
            <li>Удаленное администрирование компьютера</li>
            <li>Телефонная помощь (8:00 - 23:00)</li>
            <li>Поддержка по электронной почте (24/7)</li>
          </ul>
        </div>
      </div>

      <div class="tariffs-price-block">
        <p>Цена: <span id="#total-price">{{totalPrice}}</span> Р</p>
      </div>
      <div class="tariffs-btn-block phone-form2">
        <form name="formTariff" novalidate>
          <input type="submit" class="btn-color2" value="ЗАКАЗАТЬ" ng-click="orderTariff()" ng-disabled="formTariff.$invalid" onclick="yaCounter32084221.reachGoal('calc'); return true;">
          <input type="text" class="btn-color2 placeholder2" placeholder="Ваш телефон" ng-model="newOrderData.phone" ui-mask="{{phoneMask}}" ui-mask-placeholder name="phone-number" id="phone-number" required>
        </form>
      </div>
      <ul class="tariffs-left-block">
        <li>Количество компьютерной техники</li>
        <div slider min="1" max="40" step="1" pips="10" value="1" on-change="compCountChanged(change)" class="tariff-slider circles-slider"></div>
        <p>{{sComp}}</p>

        <li>Оргтехника (принтер, факс, копир)</li>
        <div slider min="0" max="25" step="1" pips="5" value="0" on-change="orgCountChanged(change)" class="tariff-slider circles-slider"></div>
        <p>{{sOrg}}</p>

        <li>Маршрутизатор</li>
        <div slider min="0" max="10" value="0" step="1" pips="2" on-change="sohoCountChanged(change)" class="tariff-slider circles-slider"></div>
        <p>{{sSoho}}</p>
      </ul>
      <ul class="tariffs-right-block">
        <li>Сервер на базе windows Server</li>
        <div slider min="0" max="10" value="0" step="1" pips="2" on-change="winserverCountChanged(change)" class="tariff-slider circles-slider"></div>
        <p>{{sWinServer}}</p>

        <li>Мини АТС</li>
        <div slider min="0" max="10" value="0" step="1" pips="2" on-change="atsCountChanged(change)" class="tariff-slider circles-slider"></div>
        <p>{{sMiniATS}}</p>

        <li>Локальная сеть</li>
        <div class="local-network-cb" ng-click="checkLocalNetwork()" ng-class="{'cb-checked': customerTariffOptions.localNetwork, 'cb-unchecked': !customerTariffOptions.localNetwork}"></div>
        <p>{{sLocalNetwork}}</p>
      </ul>
    </div>
  </div>

  <a name="feedback" class="anchor"></a>
  <div class="feedback-wrapper">
    <div class="feedback-main">
      <div class="info-box">
        <form name="formFullInfo" class="feedback-form" novalidate>
          <p class="h2-like">Обратная связь</p>
          <input type="text" class="btn-color1" placeholder="ФИО" ng-model="newOrderData.fio" name="fio" id="fio">
          <div class="feedback-radio-group">
            <div ng-click="changePersonStatus('private')" ng-class="{'radio-checked': newOrderData.status == 'private', 'radio-unchecked': newOrderData.status == 'legal'}"></div><p>Частное лицо</p>
            <div ng-click="changePersonStatus('legal')" ng-class="{'radio-unchecked': newOrderData.status == 'private', 'radio-checked': newOrderData.status == 'legal'}"></div><p>Представляю организацию</p>
          </div>
          <input type="text" class="btn-color1" placeholder="e-mail" ng-model="newOrderData.email" name="email" id="email">
          <input type="text" class="btn-color1" placeholder="Ваш телефон*" ng-model="newOrderData.phone" ui-mask="{{phoneMask}}" ui-mask-placeholder name="phone-number" id="phone-number" required>
          <input type="text" class="btn-color1" placeholder="Сообщение" ng-model="newOrderData.msg" name="message" id="message">
          <input type="submit" class="btn-color1" value="ЗАКАЗАТЬ" ng-click="orderFullInfo()" ng-disabled="formFullInfo.$invalid" onclick="yaCounter32084221.reachGoal('feedback'); return true;">
        </form>
      </div>
    </div>
  </div>

  <a name="contacts" class="anchor"></a>
  <div class="footer">
    <p>392000, г. Тамбов, ул. Кавалерийская, 7А<br>
    +7 [4752] 341-341, +7 [960] 670-0607<br>
    <a href="mailto:info@itcaring.ru">info@itcaring.ru</a>
    </p>
    <p class="author">Создание сайта: OnlineLab</p>
  </div>


  <!-- jQuery-Placeholder -->
  <script>
    jQuery('input[placeholder], textarea[placeholder]').placeholder();
  </script>
  <!--SVGInjector-->
  <script>
    // // Elements to inject
    // var mySVGsToInject = document.querySelectorAll('img.inject-svg');
    // // Options
    // var injectorOptions = {
    //   evalScripts: 'once',
    //   pngFallback: '',
    //   each: function (svg) {
    //     // Callback after each SVG is injected
    //     console.log('SVG injected: ' + svg.getAttribute('id'));
    //   }
    // };
    // // Trigger the injection
    // SVGInjector(mySVGsToInject, injectorOptions, function (totalSVGsInjected) {
    //   // Callback after all SVGs are injected
    //   console.log('We injected ' + totalSVGsInjected + ' SVG(s)!');
    // });
  </script>

  <!--JQueryUI-->
  <script>
    //Tabs
    $( "#tabs" ).tabs();
  </script>

  <script>
  // $(document).ready(function(){
  //   $('input').iCheck({
  //     checkboxClass: 'icheckbox_minimal',
  //     radioClass: 'iradio_minimal',
  //     increaseArea: '20%' // optional
  //   });
  // });
  </script>


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
  (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter32084221 = new Ya.Metrika({
                  id:32084221,
                  clickmap:true,
                  trackLinks:true,
                  accurateTrackBounce:true,
                  webvisor:true
              });
          } catch(e) { }
      });        var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/32084221" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>