/* #0DB14B = rgba(13, 177, 75, 0.8)*/

body{
  font-family: Vernada, Tahoma, sans-serif;
  margin: 0;
  min-width: 1010px;
  padding: 0;
}

a{
  font-family: Vernada, Tahoma, sans-serif;
  outline: none;
  text-decoration: none;
}

input, textarea{
  outline: none;
  spellcheck: false;
}

h1,h2,h3,h4,h5,h6{
  color: #fff;
}

.h2-like{
  color: #fff !important;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Anchors for sections */
.anchor{
  display: block;
  height: 0;
}

/*IE clear button in text fields*/
::-ms-clear {
  display: none;
}

.left{
  float: left;
}

.right{
  float: right;
}

.clearLeft{
  clear: left;
}

/* Placeholder styles */

::-webkit-input-placeholder {
  color: #DDD;
}
/* Firefox 19+ */
::-moz-placeholder {
  color: #DDD;
}
/* Firefox 18- */
:-moz-placeholder {
  color: #DDD;
}
:-ms-input-placeholder{
  color: #DDD;
}
.placeholder {
  color: #DDD;
}

.placeholder2::-webkit-input-placeholder {
  color: #0DB14B;
}
/* Firefox 19+ */
.placeholder2::-moz-placeholder {
  color: #0DB14B;
}
/* Firefox 18- */
.placeholder2:-moz-placeholder {
  color: #0DB14B;
}
.placeholder2:-ms-input-placeholder{
  color: #0DB14B;
}
.placeholder2.placeholder {
  color: #0DB14B;
}

.placeholder2 {
  color: #0DB14B !important;
}


.title-wrapper, .desc-wrapper, .solutions-wrapper, .benefits-wrapper, .tariffs-desc-wrapper, .tariffs-tabs-wrapper, .feedback-wrapper{
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 670px;
}

.tariffs-tabs-wrapper{
  height: 835px;
}

.title-main, .desc-main, .solutions-main, .benefits-main, .tariffs-desc-main, .tariffs-tabs-main, .feedback-main{
  margin: 0 auto;
  overflow: hidden;
  width: 1000px;    
}

.benefits-wrapper, .tariffs-tabs-wrapper, .footer{
  background: #e4e4e4;
}

.title-wrapper{
  background-image: url(images/bg1.jpg);
}

.desc-wrapper{
  background-image: url(images/bg2.jpg);
}

.solutions-wrapper{
  background: #0DB14B;
}

.benefits-wrapper{
  /*background: #e4e4e4;*/
}

.tariffs-desc-wrapper{
  background-image: url(images/bg4.jpg);
}

.tariffs-tabs-wrapper{
  background: #e4e4e4;
}

.feedback-wrapper{
  background-image: url(images/bg5.jpg);
}

.footer{
  height: 220px;
}

  .info-box{
    background: rgba(13, 177, 75, 0.8);
    color: #fff;
    height: 600px;
    margin: 35px 0 0 0;
    overflow: hidden;
    width: 630px;
  }

    .info-box-title h1{
      font-size: 35px;
      letter-spacing: 2px;
      margin: 13px 10px 0;
      text-align: center;
    }

    .our-phone{
      float: right;
      margin-right: 60px;
    }

    .call-text{
      color: #fff;
      font-size: 25px;
      letter-spacing: 1px;
      margin: 47px 0 33px 0;
      text-align: center;
    }

  .logo{
    height: 110px;
    margin: -12px 0px 0 57px;
  }

/*    Phone form styling    */
    .phone-form1, .phone-form2{
      margin: 0 auto;
      overflow: hidden;
      width: 400px;
    }

    .phone-form1{
      color: #fff;
    }

    .phone-form2{
      color: #0DB14B;
    }

      .phone-form1 p, .phone-form2 p{
        font-size: 25px;
        letter-spacing: 1px;
        margin: 0 0 30px;
        text-align: center;
      }

      .phone-form1 input[type="submit"], .phone-form2 input[type="submit"]{
        cursor: pointer;
      }

      .phone-form1 input[type="submit"][disabled], .phone-form2 input[type="submit"][disabled]{
        cursor: default;
      }

      .btn-color1, .btn-color2{
        background: rgba(0,0,0,0);
        border-radius: 7px;
        box-sizing: content-box;
        font-size: 22px;
        height: 60px;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 180px;
      }

      .btn-color1{
        border: 2px solid #fff;
        color: #fff;
      }

      .btn-color2{
        border: 2px solid #0DB14B;
        color: #0DB14B;
      }
/******************/


    .info-box-desc h2{
      font-size: 25px;
      letter-spacing: 1px;
      line-height: 30px;
      margin: 58px 160px 40px 60px;
      text-align: left;
    }

    .info-box-desc > p{
      color: #000;
      margin: 0 70px 3px 60px;
      letter-spacing: 1px;
      line-height: 23px;
    }

    .info-box-desc > p:last-of-type{
      margin-bottom: 60px;
    }

/*    .info-box-tariffs h2{
      font-size: 25px;
      letter-spacing: 1px;
      line-height: 30px;
      margin: 58px 160px 96px 60px;
      text-align: left;
    }*/

    .info-box-tariffs > p{
      color: #000;
      margin: 0 35px 110px 62px;
      letter-spacing: 1.1px;
      line-height: 24px;
    }

/*    SVG styles    */
.inject-svg{
  height: 100%;
  width: 165px;
}

.stroke-color1{
  stroke: #fff;
}

.fill-color1{
  fill: #fff;
}

.stroke-color2{
  stroke: #0DB14B;
}

.fill-color2{
  fill: #0DB14B;
}

/*********************/

.solutions-main .h2-like{
  margin: 35px 0 70px 0;
  text-align: center;
}

  .solutions-info-blocks{
    margin: 0 0 35px 0;
    overflow: hidden;
  }

    .solutions-info-blocks div{
      float: left;
      width: 33%;
    }

      /*.solutions-info-blocks div svg{
        display: block;
        margin: 0 auto;
      }*/

      .solutions-info-blocks div p{
        margin: 0;
        text-align: center;
      }

      .solutions-info-blocks div img{
        margin-bottom: 30px;
        width: 165px;
      }

      .small-text{
        font-size: 90%;
      }

.benefits-main .h2-like{
  color: #0DB14B !important;
  margin: 40px 0 55px 0;
  text-align: center;
}

  .benefits-info-blocks{
    margin: 0 0 100px 0;
    overflow: hidden;
  }

    .benefits-info-blocks div{
      float: left;
      width: 25%;
    }

      /*.benefits-info-blocks div svg{
        display: block;
        margin: 0 auto;
      }*/

      .benefits-info-blocks div p{
        margin: 0;
        text-align: center;
        width: 200px;
      }

      .benefits-info-blocks div img{
        margin-bottom: 35px;
        width: 165px;
      }

.tariffs-desc-main{

}

  .tariffs-desc-main .h2-like{
    margin-bottom: 95px;
    padding-top: 65px;
  }

.tariffs-tabs-main{
  position: relative;
}


.tariffs-tab{
  color: #333;
  font-size: 16px;
  letter-spacing: 1px;
  overflow: hidden;
}

  .tariffs-tab > div, .tariffs-tab > ul{
    float: left;
  }

  .tariffs-tab li{
    list-style-type: none;
    margin: 0 0 0 10px;
  }

  .tariffs-tab li:before{
    color: #0DB14B;
    content: '•';
    font-size: 150%;
    padding-right: 10px;
  }

  .tariffs-tabs-main ul p{
    color: #0DB14B;
    font-size: 18px;
    margin: 1em 2em 1em 2em;
  }

    .tariffs-tab > ul{
      margin: 0;
      padding: 0 0 0 30px;
    }

    .tariffs-const-block{
      height: 190px;
      padding-top: 35px !important;
      width: 500px;
    }

.tariffs-price-block{
  color: #0DB14B;
  font-size: 25px;
  height: 190px;
  left: 528px;
  padding: 10px 0 0 5px;
  position: absolute;
  top: 95px;
  width: 200px;
}

.tariffs-btn-block{
  height: 190px;
  left: 735px;
  padding: 17px 0 0 54px;
  position: absolute;
  top: 95px;
}

  .tariffs-btn-block input{
    display: block;
    margin: 0 0 10px 0;
  }

.tariffs-left-block{
  float: left;
  color: #333;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 0 0 0 30px;
  width: 500px;
}

  .tariffs-left-block li{
    list-style-type: none;
    margin: 0 0 0 10px;
  }

  .tariffs-left-block li:before{
    color: #0DB14B;
    content: '•';
    font-size: 150%;
    padding-right: 10px;
  }

.tariffs-right-block{
  float: left;
  color: #333;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 0 0 0 30px;
  margin-left: -40px !important;
  width: 470px;
}

  .tariffs-right-block li{
    list-style-type: none;
    margin: 0 0 0 10px;
  }

  .tariffs-right-block li:before{
    color: #0DB14B;
    content: '•';
    font-size: 150%;
    padding-right: 10px;
  }

  .local-network-cb{
    margin: 1.5em 0 0 2em;
  }

  .tariff-slider {
    font-size: 20px;
    margin: 45px 0 15px 33px;
    width: 290px;
  }

.feedback-form{
  margin: 0 auto;
  width: 365px;
}

  .feedback-form .h2-like{
    font-size: 26px;
    margin: 35px 0 21px 0;
    text-align: center;
  }

  .feedback-form input{
    display: block;
    margin: 10px auto;
    width: 100%;
  }

  .feedback-form input[type="submit"]{
    cursor: pointer;
    margin-top: 50px;
    width: 180px;
  }

  .feedback-form input[type="submit"][disabled]{
    cursor: default;
  }

  .feedback-form input[type="radio"]{
    display: inline;
    width: auto;
  }

  .feedback-radio-group{
    left: -10px;
    margin: 30px 0;
    overflow: hidden;
    position: relative;
    width: 120%;
  }

    .feedback-radio-group *{
      float: left;
    }

    .feedback-radio-group p{
      margin: -2px 15px 0 15px;
    }

.call-buttons2{
  margin: 0 auto;
  overflow: hidden;
  width: 400px;
}

  .call-buttons2 p{
    color: #0DB14B;
    font-size: 25px;
    letter-spacing: 1px;
    margin: 0 0 30px;
    text-align: center;
  }

  .btn-color2{
    background: rgba(0,0,0,0);
    border: 2px solid #0DB14B;
    border-radius: 7px;
    height: 60px;
    width: 180px;
  }

    .btn-color2 a{
      color: #0DB14B;
      display: block;
      font-size: 22px;
      padding: 15px 0 0 0;
      text-align: center;
    }

.footer{
  color: #0DB14B;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 36px;
  padding: 10px 0 0 0;
  overflow: hidden;
  text-align: center;
}

  .footer a{
    color: #0DB14B;
  }

  .author{
    color: #000;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 20px 0 0 0 !important;
  }

.radio-unchecked, .radio-checked{
  background: url(images/radio.png) no-repeat;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.radio-unchecked{
  background-position: -20px 0;
  height: 20px;
  width: 20px;
}

.radio-checked{
  background-position: -40px 0;
  height: 20px;
  width: 20px;
}

.cb-unchecked, .cb-checked{
  background: url(images/checkbox.png) no-repeat;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.cb-unchecked{
  background-position: -20px 0;
  height: 20px;
  width: 20px;
}

.cb-checked{
  background-position: -40px 0;
  height: 20px;
  width: 20px;
}


/*input[type=text]:focus.ng-dirty.ng-invalid{
  border: 2px solid #FD0000;
}*/
